ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
 display: inline;
  text-align: center;
  padding: 14px 16px 10px 0px;
  font-size: 14px;
  }

.right { 
  float: right;
  width: fit-content;
  padding-top: 0; 
}


#bottom-nav {
   width: 100%;
    position: fixed;
    bottom: 0;
    color: #5f6368;
    font-size: 14px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

#logo {
  display: block;
  margin: 0 auto 30px auto;
  text-align: center;
  padding-top: 100px;
}

#main {
  text-align: center;
  margin: 10px auto 50px auto;
  -webkit-appearance: none;
   border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
   box-shadow: none;
}

input {
    width: 40%;
    height: 40px;
    border-radius: 45px;
    box-shadow: none;
    border: 1px solid #bdbdbd;
    font-size: 16px;
    
}
a:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: black;
}
button {
  margin: 20px 32px auto 2px;
  border-radius: 4px;
  border: 5%;
  font-size: 14px;
  background-color: #f2f2f2;
  height: 36px;
  border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  color: grey;
}
#profile {
    height: 32px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

#top-nav {
  padding-top: 20px;
}
input:hover {
   -webkit-box-shadow: 0 1px 4px 0px rgba(30,30,30,0.41);
}
input:focus {
    outline: none;
    -webkit-box-shadow: 0 1px 4px 0px rgba(30,30,30,0.41);
}